
<md-content layout="row" style="padding:20px; height:100%; layout-align:center stretch">

    <div flex="40" layout="column">
        <div flex="30">
            hello Client
        </div>
        <div flex="40">
           Please create a new account
        </div>
        <div flex="40">
          Or click the button to log in your account
        </div>
    </div>


    <form flex="60" layout="column" ng-controller="HomeController">
        <div flex="20">
            <input placeholder="User Name"
                   name="name" ng-model="user.theName"
                   required pattern=".{3,}" />
        </div>
        <div flex="20">
            <input placeholder="Email"
                   name="email" ng-model="user.theEmail"
                   type="email" required />
        </div>
        <div flex="20">
            <input placeholder="Password"
                   name="pwd" ng-model="user.thePwd"
                   type="password" pattern=".{3,}" required />
        </div>
        <div flex="20">
            <input placeholder="Confirm Password"
                   name="chk" ng-model="chkPwd"
                   type="password"
                   wj-validation-error="chkPwd != user.thePwd ? 'Passwords don\'t match' : ''" />
        </div>
        <div flex="25" layout="row">
            <div flex="50">
                <input type="reset" id="resetData"  ng-click="reset(user)" value="Reset" />
            </div>
            <div flex="50">
                <button type="submit" ng-click="update(user)">
                    Create Account
                </button>
                <button ng-click="toggleSignIn(user)">
                    Sign In
                </button>

                <pre>user = {{user | json}}</pre>
                <pre>master = {{master | json}}</pre>
            </div>
        </div>
    </form>
</md-content>
