md-checkbox.md-checked.black-checkbox .md-icon {
    background-color: #000;
}

.top-browse-toolbar{
    background-color: #707070;
    height:7%;
    position: fixed;
    width: 100%;
    padding-left:5%;
    color: #fff;
}