<md-dialog flex ="30" md-dynamic-height style="text-align: center; ">
    <!--md-dynamic-height-->
    <h3 style = "color : #404040;">G_1</h3>
    <!--<hr style="color: #707070">-->
    <md-divider ></md-divider>
    <md-dialog-content layout="column" style="max-width:800px;max-height:800px; padding:20px;">

            <div layout ="row" layout-align="space-around center">
                <div ng-repeat="data in browsedImagesTop" style="border:solid 0.5px #707070;" >
                    <img ng-src="data:image/png;base64,{{data.value.image}}">
                </div>
            </div>

            <div layout ="row" layout-align="space-around center">
                <div ng-repeat="data in browsedImagesBot">
                    <img ng-src="data:image/png;base64,{{data.value.image}}">
                </div>
            </div>

        <md-divider ></md-divider>
            <div layout="row" layout-align="space-around center" style="color:#404040;padding:10px;">
                tags : architecture
            </div>

            <div layout="row" layout-align="space-around center" style="color:#404040;padding:10px;">
                rate : 4,5
            </div>

        <div layout="row" layout-align="end center" layout-margin="">
            <md-button ng-click="hideTest()" style="margin-right:20px;">Close</md-button>
        </div>

    </md-dialog-content>



</md-dialog>
