<div style="text-align: start;">
    <md-content style="padding: 15px">
        <md-tabs md-dynamic-height>


            <md-tab label="Mes informations" ng-click="update()">


                <!--            Créer getter pour ici           -->


                <div>
                    <h1> Informations Personnelles </h1>
                    <md-divider></md-divider>
                    <div layout-margin="">
                        <br/><br/><br/>

                        <span style="font-size: 1.4em;font-weight: 500"> Nom: </span>
                        {{user.lname}}

                        <br/><br/><br/>

                        <span style="font-size: 1.4em;font-weight: 500"> Prénom: </span>
                        {{user.fname}}
                        <br/><br/><br/>


                        <span style="font-size: 1.4em;font-weight: 500"> Adresse E-mail: </span>
                        {{user.mail}}
                        <br/><br/><br/>


                        <span style="font-size: 1.4em;font-weight: 500"> Mot de passe: </span>
                        {{user.passWord}}
                        <br/><br/><br/>


                        <span style="font-size: 1.4em;font-weight: 500"> Affiliation: </span>
                        {{user.affiliation}}
                        <br/><br/><br/>


                        <span style="font-size: 1.4em;font-weight: 500"> Date d'inscription: </span>
                        {{user.date}}
                        <br/><br/><br/>
                    </div>
                </div>
            </md-tab>


            <md-tab label="Modifier mes informations">


                <div>
                    <h1> Informations Personnelles </h1>
                    <md-divider></md-divider>
                    <form name="modif">
                        <div layout-margin="">

                            <span style="font-size: 1.4em; font-weight: 500">Nom </span>
                            <div style="text-align: end">
                                <md-button class="md-raised md-primary val-button" ng-click="modifyLname()"
                                           ng-disabled="user.lastname==null || user.lastname.length<1">Validate
                                </md-button>
                            </div>
                            <div layout="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Nom</label>
                                    <input ng-model="user.lastname" type="text" name="lastname">
                                    <!--<div ng-messages="modif.firstName.$error" style="...">
                                        <div ng-message="required" style="font-size: 0.65em">You may enter your first
                                            name
                                        </div>
                                    </div>-->

                                </md-input-container>
                            </div>


                            <span style="font-size: 1.4em; font-weight: 500">Prénom </span>
                            <div style="text-align: end">
                                <md-button class="md-raised md-primary val-button" ng-click="modifyFname()"
                                           ng-disabled="user.firstname==null || user.firstname.length<1">Validate
                                </md-button>
                            </div>
                            <div layout="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Prénom</label>
                                    <input ng-model="user.firstname" type="text" name="firstname">
                                    <!-- <div ng-messages="modif.lastName.$error" style="...">
                                         <div ng-message="required" style="font-size: 0.65em">You may enter your last
                                             name
                                         </div>
                                     </div>-->
                                </md-input-container>
                            </div>


                            <span style="font-size: 1.4em; font-weight: 500">Adresse e-mail </span>
                            <div style="text-align: end">
                                <md-button class="md-raised md-primary val-button" ng-click="modifyMail() "
                                           ng-disabled="!user.email ">Validate
                                </md-button>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>e-mail</label>
                                    <input ng-model="user.email" type="email" name="email"
                                           ng-pattern="/^.+@+.+\..+$/">
                                    <div ng-messages="modif.email.$error">
                                        <!-- <div ng-message="required" style="font-size: 0.65em">You may enter your e-mail
                                         </div>-->
                                        <div ng-message="pattern" style="font-size: 0.65em">This field must be a valid
                                            email address.
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>


                            <!--checker correspondances -->


                            <span style="font-size: 1.5em; font-weight: 800">Changement de mot de passe  </span>

                            <br/><br/><br/>


                            <span style="font-size: 1.3em; font-weight: 400">Ancien mot de passe  </span>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Ancien mot de passe</label>
                                    <input ng-model="user.oldPwd" type="password" name="oldPwd" ng-pattern="{{user.passWord}}">
                                    <div ng-messages="modif.oldPwd.$error" style="...">
                                        <div ng-message="pattern" style="font-size: 0.65em"> This is a wrong password
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>

                            <!--<div ng-show="user.oldPwd est vérifié ">-->


                            <span style="font-size: 1.3em; font-weight: 400">Nouveau mot de passe  </span>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Nouveau mot de passe</label>
                                    <input ng-model="user.pwd1" type="password" name="pwd1">
                                    <!--<div ng-messages="modif.pwd1.$error" style="...">
                                        &lt;!&ndash;<div ng-message="required" style="font-size: 0.65em">You may enter your new
                                            password
                                        </div>&ndash;&gt;
                                    </div>-->
                                </md-input-container>
                            </div>

                            <!--</div>-->

                            <div ng-show="user.pwd1.length > 0" >
                                <span style="font-size: 1.3em; font-weight: 400">Confirmation du nouveau mot de passe  </span>
                                <div style="text-align: end">
                                    <md-button class="md-raised md-primary val-button" ng-click="modifyPwd() "
                                               ng-disabled="(user.pwd1!=user.pwd2) || user.oldPwd!=user.passWord">Validate
                                    </md-button>
                                </div>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Confirmation</label>
                                        <input ng-model="user.pwd2" type="password" name="pwd2"
                                               ng-pattern="{{user.pwd1}}">
                                        <div ng-messages="modif.pwd2.$error" style="...">
                                            <div ng-message="pattern" style="font-size: 0.65em">Passwords must be
                                                identical!
                                            </div>
                                            <!-- <div ng-message="required" style="font-size: 0.65em">You may enter your new
                                                 password
                                             </div>-->
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>


                            <span style="font-size: 1.4em; font-weight: 500">Affiliation </span>
                            <div style="text-align: end">
                                <md-button class="md-raised md-primary val-button" type="text" ng-click="modifyAff()"
                                           ng-disabled="user.aff==null || user.aff.length<1 ">
                                    Validate
                                </md-button>
                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Affiliation</label>
                                    <input ng-model="user.aff" type="text" name="aff">
                                </md-input-container>


                            </div>
                        </div>
                    </form>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
</div>